@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:-webkit-autofill {
    background-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: black !important;
  }
}

img { display: initial; vertical-align: initial; }
